* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #1b1940;
    --orange: #de6161;
    --maroon: #89253e;
    --silver: #f2f2f2;
}

body {
    background: var(--blue);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Desktop view for navbar */

.learn-navbar {
    width: 100%;
    background: var(--orange);
    border-bottom: 1px solid midnightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
}

.learn-icon,
.learn-close-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
}

.learn-links {
    display: flex;
    list-style: none;
}

.learn-links li {
    margin-right: 24px;
}

.learn-links li a {
    text-decoration: none;
    color: var(--maroon);
    letter-spacing: -0.5px;
}

.learn-links li a:hover {
    color: var(--blue);
}

.learn-backdrop {
    display: none;
    animation: 0.4s ease-in-out fadeIn forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0);
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        background: rbga(0,0,0,0.8);
    }
}

