* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #1b1940;
    --orange: #de6161;
    --maroon: #89253e;
    --silver: #f2f2f2;
}

body {
    background: var(--blue);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Desktop view for navbar */

.learn-navbar {
    width: 100%;
    background: var(--silver);
    border-bottom: 1px solid midnightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
}

.learn-icon,
.learn-close-btn {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
}

.learn-links {
    display: flex;
    list-style: none;
}

.learn-links li {
    margin-right: 24px;
}

.learn-links li a {
    text-decoration: none;
    color: var(--maroon);
    letter-spacing: -0.5px;
    font-weight: bolder;
}

.learn-links li a:hover {
    color: var(--blue);
}

.learn-backdrop {
    display: none;
    animation: 0.4s ease-in-out fadeIn forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 200px;
    background: rgba(0,0,0,0);
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        background: rbga(0,0,0,0.8);
    }
}


/* Mobile View of Navbar */

@media (max-width: 675px) {
    .learn-icon,
    .learn-close-btn {
        display: block;
    }

    .learn-icon {
        position: absolute;
        right: 24px;
    }

    .learn-links {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100;
        right: -90%;
        background: var(--silver);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 2;
        transition: 0.3s ease-in-out;
    }

    .learn-links li {
        margin-right: 0;
        margin-bottom: 50px;
        font-size: 1.5em;
    }

    .learn-close-btn {
        position: absolute;
        top: 24px;
        right: -90vh;
        color: var(--maroon);
        font-size: 2em;
        z-index: 3;
        transition: 0.3s ease-in-out;
    }

    .learn-close-btn:hover {
        color: var(--blue);
        cursor: pointer;
    }

    .open .learn-links {
        min-width: 80%;
        right: 0;
    }

    .open .learn-close-btn {
        right: 32px;
    }

    .open .learn-backdrop {
        display: block;
    }
}