<nav class="learn-navbar">
    <h3 class="learn-logo">RIGHTBROS Learners</h3>

    <div class="learn-icon"><i class="fa fa-bars"></i></div>

    <div class="learn-links-wrapper active">
        <div class="learn-backdrop"></div>
        <div class="learn-close-btn"><i class="fa fa-times"></i></div>
        <ul class="learn-links">
            <li><a href="{% url 'contact:home' %}">Home</a></li>
            <li><a href="{% url 'contact:enroll' %}">Enroll</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>