{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Enroll for the Demo{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/enroll.css' %}">
{% endblock style %}

{% block content %}
<div class="registration-form">

    <form method="POST">
        {% csrf_token %}
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        {{ form|crispy }}
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary create-account">
        </div>
    </form>
    <div class="social-media">
        <h5>Sign up with social media</h5>
        <div class="social-icons">
            <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
            <a href="#"><i class="icon-social-google" title="Google"></i></a>
            <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js">
</script>
<script src="{% static 'js/enroll.js' %}"></script>

{% endblock javascript %}